ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0%;
  width: 100%;
}


.logo{
  SYLE LOGO HER!
}

li {
  float: right;
}

li a {
  display: block;
  padding: 12px 14px;
  text-align: center;
  text-decoration: none;
  color: #dddddd;
}

li a:hover {
  background-color: #646464;
}

.active {
  background-color: #ffc0ffCB;
}