* {
  padding: 0;
margin: 0;
}

nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0%;
  width: 100%;
}


li {
  float: right;
}

li a {
  display: block;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  color: #dddddd;
}

li a:hover {
  background-color: #646464;
}

.active {
  background-color: #ffc0ffCB;
}